<div class="cover-graph">
  <div class="container d-flex flex-column align-items-center">
    <h1 class="font-weight-normal mt-5 mb-3">モチベーショングラフ</h1>
    <div class="button-container">
      <%= link_to "追加", graphs_new_path, class:"btn btn-warning" %>
    </div>
    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var labels = <%= raw(@labels.to_json) %>;
      var values = <%= raw(@values.to_json) %>;
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: labels,
              datasets: [{
                  label: 'モチベーション',
                  data: values,
                  backgroundColor: 'rgba(75,192,192,0.2)',
                  borderColor: 'rgba(75,192,192,1)',
                  borderWidth: 3,
                  pointRadius: 5,
                  pointHoverRadius:10
              }]
          },
          options: {
            tooltips: {
                callbacks: {
                    title: function(tooltipItem, data) {
                        return '年齢: ' + data.labels[tooltipItem[0].index];
                    },
                    label: function(tooltipItem, data) {
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        var comment = dataWithLinks[tooltipItem.index].comment; 
                        return '数値: ' + value + ', コメント: ' + (comment || 'コメントなし');
                    }
                }
            }
        }
      });
    </script>
  </div>
</div>

<div id="comment-container" style="margin-top: 20px; font-size: 18px;">
</div>

<script>
document.addEventListener("turbo:load", function() {
  const chartElement = document.getElementById('myChart');
  const dataWithLinks = <%= raw(@data_with_links.to_json) %>;
  chartElement.onclick = function(event) {
    const chart = myChart
    const points = chart.getElementsAtEventForMode(event, 'nearest', { intersect: true }, false);
    if (points.length) {
      const index = points[0].index; // クリックされた点のインデックスを取得
      const id = dataWithLinks[index].id; // idを取得
      const comment = dataWithLinks[index].comment;
      const link = `/graphs/${id}/edit`; // リンクを作成

      const commentContainer = document.getElementById('comment-container');
      if (comment) {
        commentContainer.innerHTML = `<p>コメント: ${comment}</p>`;
      } else {
        commentContainer.innerHTML = `<p>コメントはありません。</p>`;
      }

      setTimeout(function() {
        window.location.href = link; // 編集ページにリダイレクト
      }, 100); // 100ミリ秒後に遷移
    }
  };
});
</script>