<div class="cover-graph">
  <div class="container d-flex flex-column align-items-center">
    <h1 class="font-weight-normal mt-5 mb-3">モチベーショングラフ</h1>
    <div class="button-container">
      <%= link_to "追加", graphs_new_path, class:"btn btn-warning" %>
    </div>
    <div class="graph-container d-flex flex-column align-items-center">
      <%= line_chart @data_for_graph,
        width: "1000px",
        height: "500px",
        min: -100,
        max: 100,
        colors: ["#0000FF"],
        stroke_width: 10,
        dataset: {
          borderColor: "#000099",
          borderWidth: 5,
          pointRadius: 5,
          pointHoverRadius: 10,
          pointBackgroundColor: "rgba(255, 255, 255, 1)",
          pointBorderColor: "#0000FF",
        },
        options: {
          plugins: {
            tooltip: {
              callbacks: {
                label: function(tooltipItem) {
                  const index = tooltipItem.dataIndex;
                  const comment = dataWithLinks[index].comment;
                  return `コメント: ${comment}`;
                }
              }
            }
          },

          scales: {
            x: {
              grid: {
                color: "#000", 
                lineWidth: 20, 
              },
            },
            y: {
              grid: {
                color: "#000", 
                lineWidth: 20, 
              },
            },
          },
        }
      %>
    </div> 
  </div>
</div>

<script>
document.addEventListener("turbo:load", function() {
  const chartElement = document.getElementById('chart-1');
  const dataWithLinks = <%= raw(@data_with_links.to_json) %>;
  chartElement.onclick = function(event) {
    const chart = Chart.getChart(event.target);
    const points = chart.getElementsAtEventForMode(event, 'nearest', { intersect: true }, false);
    if (points.length) {
      const index = points[0].index; // クリックされた点のインデックスを取得
      const id = dataWithLinks[index].id; // idを取得

      const comment = dataWithLinks[index].comment;
      alert(comment);

      console.log('Clicked point index:', index);
      console.log('Corresponding ID:', id);
      const link = `/graphs/${id}/edit`; // リンクを作成
      window.location.href = link; // リダイレクト
    }
  };
});
</script>