<% @events_by_age.each do |age, events| %>
    <% if age.present? %>
      <h2><%= link_to age, events_by_age_path(age)  %></h2>
      <% events.each do |event| %>
        <p><%= event.event %></p>
      <%= attachment_image_tag event, :image, format: 'jpeg', size: '100x100' %>
      <% end %>
    <% end %>
<% end %>

