<div class="cover-index">
  <div class="container d-flex flex-column">
    <div class="row mt-5 index-left">
      <% @events_by_age.each do |age, events| %>
        <% if events.present? %>
          <div class="col-12 col-md-4 mb-3">
            <div class="border border-primary index-border">
                <h2><%= link_to "#{age}歳", events_by_age_path(age), class:"age"%></h2>
              <ul>
                <% events.each do |event| %>
                  <li>
                    <p class="event-text"><%= event.event %></p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @paginated_ages %>
  </div>
</div>

