<div class="cover-home align-middle">
  <h1 class="text">
    <span class="highlight">出来事一覧</span><br>
    追加した出来事が年齢ごとに表示されます。<br>年齢部分をクリックすると、出来事の詳細を見ることができます。<br>
    <br>
    <span class="highlight">出来事追加</span><br>
    出来事を追加できます。<br>
    <br>
    <span class="highlight">マイページ</span><br>
    自分の情報の登録やモチベーショングラフを作成することができます。<br>
    <br>
    <span class="highlight">ユーザ一覧</span><br>
    ユーザ名をクリックすると、ユーザのモチベーショングラフを見ることができます。</h1>
  </div>