<div class="cover-home">
  <h1 class="text">
    出来事一覧：追加した出来事が年齢ごとに表示されます。年齢部分をクリックすると、出来事の詳細を見ることができます。<br>
    <br>
    出来事追加：出来事を追加できます。<br>
    <br>
    マイページ：自分の情報の登録やモチベーショングラフを作成することができます。<br>
    <br>
    ユーザ一覧：ユーザ名をクリックすると、ユーザのモチベーショングラフを見ることができます。</h1>
  </div>