.cover-index{
    min-height:100vh;
    width: 100%;
    background-image: url(/assets/top_image.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size:100% 100%;
}

.age{
    font-family: cursive;
    font-size: 50px;
    text-decoration:none;
    color: #00FFFF;
}

.index-border{
    font-size:30px;
    border-radius:50px;
    border-spacing:10px 10px;
    margin:30px;
    margin-bottom:50px;
    padding:15px;
    background-color:rgba(#0000,0.3);
}

.event-text{
    font-size:25px;
    color:#CCFFFF;
}

.cover-new{
    min-height:100vh;
    width: 100%;
    background-image: url(/assets/new_image.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size:100% 100%; 
}

.form-label{
    font-size:25px;
}

.form-group{
    width:600px;
}

.cover-new .form-control{
    border-radius:10px;
    border:2px solid #999999
}

.cover-by-age{
    min-height:100vh;
    width: 100%;
    background-image: url(/assets/by_age_image.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size:100% 100%; 
}

.cover-by-age h1{
    font-size:50px;
    color:#0000FF;
}

.event-month{
    font-family:cursive;
    font-size:50px;
    color:#00FFFF;
}

.event{
    font-size:35px;
    color:#CCFFFF
}

.by-age-border{
    font-size:30px;
    border-radius:50px;
    border-spacing:10px 10px;
    margin-top:30px;
    margin-right:30px;
    margin-left:30px;
    margin-bottom:10px;
    padding:15px;
    background-color:rgba(#0000,0.3);
}

.edit{
    margin-left:40px;
}

.to-top{
    margin-left:40px;
}

.cover-edit{
    min-height:100vh;
    width: 100%;
    background-image: url(/assets/edit_image.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size:100% 100%;
}

.cover-edit .form-control{
    border-radius:10px;
    border:2px solid #999999
}
