.graph-new{
    min-height:100vh;
    width: 100%;
    background-image: url(/assets/new_image.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size:100% 100%; 
}

 .graph-new .form-control{
    border-radius:10px;
    border:2px solid #999999
}

.cover-graph{
    min-height:100vh;
    width: 100%;
    background-image: url(/assets/mypage.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size:100% 100%; 
}

.graph-container{
    position:relative;
    max-width:1000px;
    margin-top:30px;
}

.button-container{
    display:flex;
    justify-content:center;
    margin-top:30px;
    margin-bottom:30px;
}

.comment{
    background-color:rgba(255,255,255,0.9);
    border:1px solid #ccc;
    padding:5px;
    border-radius:5px;
}

.graph-edit{
    min-height:100vh;
    width: 100%;
    background-image: url(/assets/edit_image.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size:100% 100%;
}

canvas {
    border: 10px solid black; /* Canvasの境界を視覚化 */
    background-color:white;
}

.btn-secondary{
    margin-top:10px;
}