.title{
    font-family:cursive;
    font-size:50px;
}

.cover{
    height:100%;
    width: 100%;
    display:table;
    background-image:image-url("login_image.jpg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:100% 100%;
}

.cover-home{
    height:100%;
    width:100%;
    background-image:image-url("usage_image.jpg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:100% 100%;
}

.text-center{
    display:table-cell;
    vertical-align:middle;
}

.text{
    line-height:1.5;
    font-size:35px;
}

.highlight{
    color:red;
    font-weight:bold;
}

a{
    text-decoration:none !important;
}

@media screen and (max-width:575px){
    .text{
        font-size:25px;
    }
}