.cover-room{
    height:100%;
    width:100%;
    background-image: image-url("room_image.jpg");
    background-color: rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:100% 100%;
    position:relative;
}

h2{
    text-align:center;
}

.message-input{
    margin-right:10px;
}

.chat-input-container{
    position:fixed;
    bottom:0;
    display:flex;
    margin:10px auto;
    max-width:100%;
}

.chat-input-container form{
    display: flex;
    flex-direction: column;  // 入力フィールドとボタンを縦並びに
    align-items: center;  // 横方向で中央揃え
    justify-content: center;  // 縦方向で中央揃え
    width:100%;
}

@media (max-width: 575px) {
    .chat-input-container {
        padding: 0 10px; // スマホ向けにパディングを調整
        flex-direction: column;  // 入力フィールドとボタンを縦並びに
        align-items: center !important; // ボタンと入力フィールドを中央揃え
        justify-content:center !important;
    }

    .chat-input-container form input[type="text"] {
        width: 100%;  // スマホ画面では入力フィールドを幅いっぱいに調整
    }

    .chat-input-container form .form-submit {
        margin-top: 10px; // ボタンに少しスペースを追加
        width:auto;
        margin-left:auto;
        margin-right:auto;
        display:block;
        text-align:center;
    }
}