.cover-user-show{
    height:100%;
    width:100%;
    background-image: url(/assets/mypage_image.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index{
    height:100%;
    width:100%;
    background-image:url(/assets/user_image.jpg);
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:100% 100%;
}

.cover-user-edit{
    height:100%;
    width:100%;
    background-image:url(/assets/user_edit_image.jpg);
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:100% 100%;
}

.profile{
    padding:15px;
    width:100%;
}

.profile-img{
    margin-right:10px;
}

.graph-button{
    margin-right:20px;
}

.cover-user-show a{
    text-decoration:none;
}

.cover-user-show .d-flex h6{
    margin-right: 15px;
}

@media screen and (max-width:575px){
   .graph-profile-button{
    justify-content:center;
   }

   .profile{
    max-width:60%;
    margin:0 auto;
   }

   .profile-img{
    
   }
}


