.cover-user-show{
    height:100%;
    width:100%;
    background-image: image-url("mypage_image.jpg");
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index{
    height:100%;
    width:100%;
    background-image:image-url("user_image.jpg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:100% 100%;
}

.cover-user-edit{
    height:100%;
    width:100%;
    background-image:image-url("user_edit_image.jpg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:100% 100%;
}

.profile{
    padding:15px;
    width:100%;
}

.profile-img{
    margin-right:10px;
}

.graph-button{
    margin-right:20px;
}

.cover-user-show a{
    text-decoration:none;
}

.cover-user-show .d-flex h6{
    margin-right: 15px;
}

.space-between-buttons{
    margin-right:10px;
}

.btn-secondary{
    margin-right:10px;
}


@media screen and (max-width:575px){
   .d-flex.align-self-end.mb-0{
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
    gap:10px;
   }

   .user-profile{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
   }

   .profile{
    padding:15px;
    width:100%;
    font-size:16px;
   }

   .d-flex.align-self-end.mb-3{
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
    gap:10px;
   }

   }


